
.navbar-nav {
   

}
.header {
    width: 50%;
}

.container {
    padding: 20px;
    margin: 10px;
}

.card {
    text-align: center;
    padding: 10px;
    margin: 10px;
    
    
    
}



.card img {
    : 10%;
    align-items: baseline;
}

h4 {
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {

  
}
