* {
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.nav {
margin: 0;
padding: 0;
}

.nav-link {
    text-align: end;
    text-decoration: underline;
}
h1 {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


header {

}
.container {
    padding: 20px;
    margin: 10px;    
    
}


.card {
   height: 90%;
    padding: 10px;
    margin: 10px;
    
    
}

.card p {
    padding-left: 10px;
}


.card img {
    height: 250px;
    border-radius: 10px 10px 0 10px;
    }

form {
    padding: 10px; 
    margin: 20px; 
    border: solid black; 
    background-color: cyan;
    min-width: fit-content;
    max-width: 100%;
   
}

form.form-label {
    margin-bottom: 0px;
}


footer {
     text-align: center;
  }

#contact {
}


#contact a {
    text-align: end;
}



iframe  {
    width: 100%; 
    height: 450px;
    border: solid black;
    

    }
